* {
	background-image: none;
}
window {
	background-color: rgba(33, 41, 47, 0.9);
}
button {
    color: #9da9a0;
	background-color: #2b3339;
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #4b565c;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/ron/.config/wlogout/icons/lock.png"), url("/home/ron/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/ron/.config/wlogout/icons/logout.png"), url("/home/ron/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/ron/.config/wlogout/icons/suspend.png"), url("/home/ron/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/ron/.config/wlogout/icons/hibernate.png"), url("/home/ron/.config/wlogout/icons/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/ron/.config/wlogout/icons/shutdown.png"), url("/home/ron/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/ron/.config/wlogout/icons/reboot.png"), url("/home/ron/.config/wlogout/icons/reboot.png"));
}
